<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.com.project">

    <!-- Adding below line to enable Internet access in Emulator -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Adding Login Activity -->
        <activity
            android:name=".LoginScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Adding Registration Screen Activity -->
        <activity android:name=".RegisterScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <!-- Adding Shopping Screen Activity -->
        <activity android:name=".ShoppingScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <!-- Adding Update Profile Screen Activity -->
        <activity android:name=".UpdateProfileScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <!-- Adding Recipe Screen Activity -->
        <activity android:name=".RecipeScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <!-- Adding Show Recipe Screen Activity -->
        <activity android:name=".ShowRecipesScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <!-- Adding Show Recipe Screen Activity -->
        <activity android:name=".MapsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

    </application>

</manifest>